.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
body{
    margin: 0%;
    padding: 0%;
    justify-content: center;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.header{
    margin-top: 30px;
    gap: 50px;
    justify-content: center;
    padding: 0%;
}
.header-content{
    margin-left: 135px;
}
button{
    cursor: pointer;
}
.sign-up-btn{
    width: 102px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--1st, #212832);
    font-size: 17px;
}
#select-btn{
    font-size: 17px;
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
li{
    cursor: pointer;
    font-size: 17px;
}
.logo{
    cursor: auto;
}
.decor{
    z-index: -1;
    width: 650px;
    height: 600px;
    margin-top: -140px;
    position: relative;
    margin-left: -458px;
}
.x{
    display: flex;
}
.girl-img{
    height: 750px;
    width: 650px;
    position: relative;
    margin-left: -200px;
}
h4{
    color: #DF6951;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: -50px;
    margin-left: 50px;
}
.content-txt{
    margin-top: 100px;
    margin-bottom: 0;
}
h1{
    color: var(--1st, #181E4B);
    font-family: "Volkhov";
    font-size: 86px;
    line-height: 79px;
    letter-spacing: -3.36px;
    margin-left: 50px;
}
.content-txt p{
    width: 400px;
    height: 90px;
    font-size: 16px;
    color: #5E6282;
    line-height: 30px;
    margin-top: -20px;
    margin-left: 50px;
}
.find-btn{
    width: 150px;
    height: 50px;
    background-color: #f1a501;
    color: white;
    border: 0;
    border-radius: 5px;
    font-family: "Google Sans";
    font-size: 18px;
}
.play-btn{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #DF6951;
}
.btns{
    display: flex;
    margin-top: 30px;
    gap: 35px;
    cursor: pointer;
    margin-left: 50px;
}
.btns p{
    margin-top: 10px;
    margin-left: -20px;
}
.second-page{
    text-align: center;
    margin-top: 150px;
}
h3{
    font-size: 18px;
    color: #5E6282;
}
h2{
    font-size: 50px;
    font-family: "Volkhov";
    margin-top: 0;
    color: #14183e;
}
.category-containers{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    margin-left: 50px;
}
.container-box{
    height: 300px;
    width: 230px;
    border-radius: 36px;
    background-color: #ffffff;
}
.container-box img{
    height: 90px;
    width: 90px;
    margin-top: 20px;
}
.container-box p{
    margin-top: 10px;
}
.air-icon{
    transform: scale(2);
}
.container-box:hover{
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
}
.third-page h3{
    text-align: center;
    margin-top: 100px;
}
.third-page h2{
    text-align: center;
}
.decor2{
    margin-left: 1100px;
    z-index: -1;
    margin-top: -350px;
}
.decor3{
    z-index: -1;
    margin-top: -40px;
    position: absolute;
    margin-left: -40px;
}
.dest-container{
    width: 315px;
    height: 357px;
    background-color: #5E6282;
    border-radius: 24px;
}
.containers{
    display: flex;
    gap: 30px;
    margin-left: 50px;
}
